[submodule "themes/hugo-book"]
	path = hugo_site/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "hugo_site/themes/hugo-book"]
	path = hugo_site/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
