---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SideBar from "../../components/SideBar.astro";
import ArticlePost from "../../components/ArticlePost.astro";

import { fetchArticles, getArticle } from "../../libs/microcms";
import { SITE_TITLE } from "../../config";

export const getStaticPaths = async () => {
  const articles = await fetchArticles();
  return articles.contents.map((article) => ({
    params: {
      articleId: article.id,
    },
  }));
};

const { articleId } = Astro.params;
const article = await getArticle({ articleID: articleId ?? "" });
---

<BaseLayout title={`${article.title} | ${SITE_TITLE}`} description="">
  <SideBar showBackHome={true} />
  <div class="md:col-span-3">
    <ArticlePost article={article} />
  </div>
</BaseLayout>
