---
import Layout from "../layouts/Layout.astro";
import SideBar from "../components/SideBar.astro";
import ArticleList from "../components/ArticleList.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { fetchArticles } from "../libs/microcms";

const { contents } = await fetchArticles();
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <SideBar showBackHome={false} />
  <div class="md:col-span-3">
    <ArticleList articles={contents} />
  </div>
</Layout>
