---
import Time from "../components/Time.astro";
import type { Article } from "../types";

export interface Props {
  articles: Article[];
}

const { articles } = Astro.props;
---

<section>
  <ul>
    {
      articles.map((article) => (
        <li>
          <a href={`/articles/${article.id}`}>{article.title}</a>
        </li>
      ))
    }
  </ul>
</section>
