---
import type { Post } from "../types";
import Time from "./Time.astro";

export interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

{
  posts.map(({ id, title, description, publishedAt }) => (
    <section class="mb-16">
      <div class="font-semibold text-lg text-gray-900">
        <Time date={publishedAt} />
      </div>
      <h2 class="my-4 max-w-[80%] text-6xl text-primary-medium font-bold hover:underline">
        <a href={`/blog/posts/${id}`}>{title}</a>
      </h2>
      <p class="text-lg font-medium text-gray-800">{description}</p>
    </section>
  ))
}
