---
import type { Post } from "../types";
import Time from "./Time.astro";

export interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<div class="flex flex-col gap-12">
  {
    posts.map(({ id, title, description, publishedAt }) => (
      <section>
        <div class="font-semibold text-lg text-gray-900">
          <Time date={publishedAt} />
        </div>
        <h2 class="my-3 text-6xl leading-tight text-primary-medium font-bold hover:underline">
          <a href={`/blog/posts/${id}`}>{title}</a>
        </h2>
        <p class="text-lg font-medium text-gray-800">{description}</p>
      </section>
    ))
  }
</div>
