---
const today = new Date();
---

<footer class="bg-primary-light">
  <div class="">
    <div class="max-w-6xl px-8 py-2 mx-auto font-light text-sm text-center">
      &copy; {today.getFullYear()} ryokosuge. All rights reserved.
    </div>
  </div>
</footer>
