---
const today = new Date();
---

<footer class="pt-10 mt-8">
  <div class="max-w-6xl px-8 mx-auto font-semibold text-center text-lg">
    &copy; {today.getFullYear()} ryokosuge. All rights reserved.
  </div>
</footer>
