---
const today = new Date();
---

<footer>
  <div
    class="px-8 mx-auto font-semibold text-center text-sm sm:text-base md:text-lg"
  >
    &copy; {today.getFullYear()} ryokosuge. All rights reserved.
  </div>
</footer>
