---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<header class="bg-primary-light">
  <div class="max-w-6xl p-8 mx-auto">
    <h1 class="text-5xl font-medium mb-4">{SITE_TITLE}</h1>
    <p class="text-lg max-w-md">{SITE_DESCRIPTION}</p>
  </div>
</header>
