---
export interface Props {
  showBackHome?: boolean;
}

const { showBackHome = false } = Astro.props;
---

<div class="flex flex-col md:col-span-1">
  {
    showBackHome && (
      <a href="/" class="text-primary-dark font-semibold text-lg">
        ← Back home
      </a>
    )
  }
</div>
<div class="md:col-span-3">
  <slot />
</div>
